<div class="about-content">

    <div class="about-content-header pure-g">
        <div class="pure-u-1-2">
            <h1>Om oss</h1>
        </div>
    </div>

    <div class="about-content-body">

    <div class="about-description">
        Vi levererar snart din app!
        <br>
    </div>

        <div class="ourteam">
            <div class="contact" *ngFor="let contact of localState.contacts">
            <img [src]="contact.image" width="200px" height="200px"  />
            <div class="name">{{contact.name}}</div>
            <div class="role">{{contact.role}}</div>
            </div>
        </div>

    </div>
</div>