<div class="home-content">

<br>
<br>
<br>
<br>

<!--<h1>Hem</h1>-->

    <div class="home-content-header pure-g">
        <div class="pure-u-1-2">
            <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="267px" 
                    controls preload="none"
                    poster='./assets/img/crazygoat.jpg'
                    data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
            <source src="./assets/movies/mov_bbb.mp4"          type="video/mp4" />
            <source src="./assets/movies/elephants-dream.webm" type="video/webm" />
            <source src="./assets/movies/file.ogv"             type="video/ogg" />
            </video>
        </div>
    </div>

    <!--<vg-player>
        <video vg-media id="singleVideo" preload="auto" controls>
            <source src="http://static.videogular.com/assets/videos/videogular.mp4"  type="video/mp4">
            <source src="http://static.videogular.com/assets/videos/videogular.ogg"  type="video/ogg">
            <source src="http://static.videogular.com/assets/videos/videogular.webm" type="video/webm">
        </video>
    </vg-player>-->

    <div class="email-content-body">
        <p>
            Donec sagittis dolor ut quam pharetra pretium varius in nibh. Suspendisse potenti. Donec imperdiet, velit vel adipiscing bibendum, leo eros tristique augue, eu rutrum lacus sapien vel quam. Nam orci arcu, luctus quis vestibulum ut, ullamcorper ut enim. Morbi semper erat quis orci aliquet condimentum. Nam interdum mauris sed massa dignissim rhoncus.
        </p>
    </div>
</div>